/* @tailwind base;
@tailwind components;
@tailwind utilities; */


.FetchAPI{

    font-size: 3rem;
    display: flex;
    justify-content:center;
}

.parent{

    display: flex;
    /* justify-content: center; */
    margin-top: 1rem;
    margin-left: 26.5rem;
    gap: 2rem;
    font-size: 1.2rem;

}

.parent-header{

  
    font-size: 1.8rem;
    display: flex;
    /* background-color: antiquewhite; */
    margin-left: 10rem;
    margin-right: 7.5rem;
    justify-content: space-around;
    border: 2px solid rgb(15, 119, 236);
    border-radius: 0.4rem;
    font-weight: bold;
   
    
}


.customApi{

    justify-self: center;

}

.custom-user{

    display: flex;
    gap:7rem;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: 2px solid rgb(232, 171, 182);
    border-radius: 0.3rem;
    list-style-type: none;
    align-items: center;
    justify-self:self-start;
    

}


.head{

    font-size: 2.6rem;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.NavLink-child{

    font-size: 1.1rem;
    
    
}

.NavLink-parent{

    display: flex;
    /* background-color: antiquewhite; */
    width: 18rem;
    justify-content: space-around;
    color: blue;
}

.active{

  font-size: 1.5rem;
  color: black;

}

.form{
   /* background-color: aqua; */
  justify-self: center;
  font-size: 1.1rem;
  padding: 0.2rem;
}

.border{
    border: 2px solid black;
    border-radius: 0.3rem;
    padding: 0.2rem;
}

.button{

    border: 2px solid black;
    border-radius: 0.3rem;
    color: white;
    background-color: black;
    padding: 0.2rem;
}
.delete-button{

    border: 2px solid rgb(8, 5, 5);
    background-color: gainsboro;
    border-radius: 0.3rem;
    color: rgb(13, 13, 10);
    padding: 0.15rem;
    
}


.edituser-div{

    font-size: 2rem;
    justify-self: center;
    padding: 0.2rem;
    


}

.button-update{

    border: 2px solid black;
    border-radius: 0.3rem;
    padding: 0.2rem;
    background-color: gainsboro;

}

.div{
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    /* border: 2px solid rgb(232, 171, 182); */
    border-radius: 0.3rem;
    list-style-type: none;
    align-items: center;
    width: 10rem;
    margin-top: 2rem;
    height: 4rem;
    justify-content: space-between;
    gap: 2rem;

   
}

.div-01{

    display: flex;
    /* background-color: aquamarine; */
    justify-self: self-end;
    gap: 2rem;
    
}

.parent-header-child{

    display: flex;
    /* background-color: aqua; */
    width: 11rem;
    justify-content: space-between;
}






.div-validation{

    justify-self: center;
    font-size: 2rem;
    font-weight: bold;
}

#name,.pass{

        border: 2px solid rgb(255, 249, 249);
        border-radius: 0.3rem;
        padding: 0.3rem;
        font-size: 1.2rem;
}

.pa{
    
    justify-self: center;
    font-size: 1.5rem;
}

.red-color:focus{

    outline: 2px solid red; 
}

.red-color{

    color: red;
}

.heading{

    font-family:Segoe UI;
    justify-self: center;
    font-size: 3rem;

}

.parent-div{

    /* background-color: aqua; */
    justify-self: center;
    font-size: 1.5rem;
    font-family:Segoe UI;
}

.input-name{

    font-size: 1.3rem;
}

.btn{

    font-size: 1.1rem;
}


.usereducer-h1{

    justify-self: center;
    font-family: Segoe UI;
    font-size: 2.3rem;
}

.usereducer-div{

    justify-self: center;
    font-family: Segoe UI;
    
}

.re{

    font-size: 1.3rem;
    margin-top: 0.5rem;
}

.label{

    font-size: 1.3rem;
}

.ul-list{

    font-size: 1.5rem;
    margin-top: -25rem;
    list-style-type: none;
    margin-left: -1.2rem;
    font-family: Segoe UI;
    
}

.h1{

    justify-self: center;
    font-family: Segoe UI;
    font-size:2.5rem;
}

.h2{
    
    justify-self: center;
  
}