
.card{

    color:aqua;
    border: 3px solid black;
    width:50rem;
    height: 10rem;
    margin-left: 12rem;
    padding-left: 5rem;
    margin-top: 10rem;
    border-radius: 10px;
    border-block-end-color: rgb(234, 197, 197);
    box-shadow: 2.8px 3px 6px 2.9px black;
    font-size: 6rem;
    text-shadow: 3.54px 5.6px 3.5px  rgb(20, 12, 12);


    
}

